*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.loginPage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #8a57ff; */
  background-color: #1c1c1c;
}

.loginContainer{
  display: flex;
  flex-direction: column;
  background-color: #383838;
  height: 500px;
  width: 650px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 10px;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  gap: 15px ;
  width: 100%;
  align-items: center;
}

.inputLogin {
  height: 45px;
  width: 420px;
  border: none;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgb(66, 66, 66);
  padding-left: 15px;
}

.inputLogin:focus{
  border: #000000 1px solid;
}
.inputLogin::placeholder{
  color: rgba(0, 0, 0, 0.541);
}

.loginButtons{
  display: flex;
  flex-direction: column;
  gap: 15px ;
  width: 100%;
  align-items: center;
}

.loginButton{
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: 1px rgba(0, 0, 0, 0.356) solid;
  font-size: 14px;
  background-color: #0000004f;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.buttonEnabled{
  background-color:white;
  
}

.loginContainer h1{
  font-size: 50px;
  color: aliceblue;
  mix-blend-mode: luminosity;
}

.buttonDisabled{
  background-color: rgb(156, 153, 153);
}

.loginButton:hover{
  cursor: pointer;
}

.sdsa{
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: 1px rgba(0, 0, 0, 0.356) solid;
  font-size: 14px;
  background-color: red;
  color: white;
}

@media screen and (max-width: 675px){
  .loginContainer{
    display: flex;
    flex-direction: column;
    background-color: #383838;
    height: 500px;
    width: 350px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 10px;
  }
  
  .inputLogin {
    height: 35px;
    width: 260px;
    border: none;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgb(66, 66, 66);
    touch-action: manipulation;
    background-color: red;

  }
}