@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.addTask{
  height: 100vh;
  background-color: #1c1c1c;
}

.containerAddTask {
  background-color: #0e0e0e;
  display: flex;
  width: 75%;
  margin: 40px auto;
  border-radius: 10px;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

} 

.containerAddTask form{
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
}
.containerAddTask form input{
  margin-right: 40px;
  padding: 10px;
  border-radius: 15px;
  margin-left: 10px;
  border: none;
  border: 1px solid black;
  outline: none;
}

.containerAddTask form select{
  padding: 10px;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-right: 40px;
  border: 1px solid black;
}

.containerAddTask form span{
  color: white;
  font-weight: 400;
  font-size:  20px;
}

.containerAddTask form label {
  color: white;
  font-weight: 400;
  font-size:  20px;
}

.containerAddTask form textarea{
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 40px;
  resize: none;
  border: 1px solid black;
}

.label{
  margin-right: 10px;
}

.buttonsAddTask :first-child{
  padding: 20px;
  width: 150px;
  border: none;
  border-radius: 7px;
  margin-right: 8px;
  background-color: rgb(72, 192, 72);
  cursor: pointer;

}

.buttonsAddTask :last-child{
  padding: 20px;
  background-color: rgb(184, 42, 42);
  width: 150px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

@media screen and (max-width: 675px){
  *{
    font-size: 10px;
  }
  .containerAddTask {
    background-color: #0e0e0e;
    display: flex;
    width: 100%;
    margin: 40px auto;
    border-radius: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  } 
  .containerAddTask form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
  }
}